<script src="../public/createWorkout.js"></script>
<div class="hero-body has-text-centered">
  <h4 class="subtitle is-4">New exercise</h4>
<div class="container" id="workoutContainer">
    <div class="buttons has-addons is-centered">
        <p class="control">
          <button type="submit" id="addExerciseBtn" class="button is-link">Add exercise</button>
        </p>
    </div>

    <div class="columns is-multiline is-mobile">
  <div class="column is-one-quarter">
    <p>Exercise</p> 
  </div>
  <div class="column is-one-quarter">
    <p>Time / Weight</p>
  </div>
  <div class="column is-one-quarter">
    <p>Sets</p>
  </div>
  <div class="column is-one-quarter">
    <p>Reps</p>
  </div>
  </div>

<form action="/myWorkouts/createWorkout" method="post">
  <div class="columns is-multiline is-mobile">
  <div class="column is-one-quarter">
    <input type="text" name="exercise">
  </div>
  <div class="column is-one-quarter">
    <input type="text" name="timeOrWeight">
  </div>
  <div class="column is-one-quarter">
    <input type="text" name="sets">
  </div>
  <div class="column is-one-quarter">
    <input type="text" name="reps">
  </div>
  </div>
  <div class="buttons has-addons is-centered">
      <p class="control">
        <button type="submit" id="addWorkoutBtn" class="button is-link">Add Workout</button>
      </p>
  </div>
</form>
  

</div>
    

</div>