<script src="../public/createWorkout.js"></script>
<div class="hero-body has-text-centered">
  <h4 class="subtitle is-4 has-text-white-ter">New Workout</h4>
  <div class="container" id="workoutContainer">
<form action="/myWorkouts/createWorkout" method="post" >
  <div class="column is-half is-offset-one-quarter">
    <input class="input" name="title" type="text" placeholder="Title" required="required">
  </div>
    

  <div class="columns is-multiline is-mobile">
    <div class="column is-one-quarter">
      <p>Exercise</p> 
    </div>
    <div class="column is-one-quarter">
      <p>Time / Weight</p>
    </div>
    <div class="column is-one-quarter">
      <p>Sets</p>
    </div>
    <div class="column is-one-quarter">
      <p>Reps</p>
    </div>
  </div>

  

    <div class="columns is-multiline is-mobile" id="workoutForm">
      <div class="column is-one-quarter">
        <input required="required" class="input" type="text" name="exercise">
      </div>
      <div class="column is-one-quarter">
        <input class="input" type="text" name="timeOrWeight">
      </div>
      <div class="column is-one-quarter">
        <input class="input" type="text" name="sets">
      </div>
      <div class="column is-one-quarter">
        <input class="input" type="text" name="reps">
      </div>
    </div>
    <div class="buttons is-centered">
      <button id="addExerciseBtn" class="button is-link">Add new exercise field</button>
      <button type="submit" class="button is-primary">Save Workout</button>
    </div>
  </form>

  </div>
</div>
