<script src="../public/myWorkoutFunctions.js"></script>
<div class="container has-text-centered">
    <h1 class="subtitle is-3">New workout</h1>
    <form action="/myWorkouts/create-workout" method="POST" id="exerciseForm">
        <input class="is-normal" type="text" name="exercise" placeholder="Exercise">
        <input type="text" name="load" id="" placeholder="Load">
        <input type="text" name="sets" id="" placeholder="Sets">
        <input type="text" name="reps" id="" placeholder="Reps">
        <button id="Add btn">Add exercise</button>
        <div>
            <button class="button" id="submitBtn" type="submit">Submit workout</button>
        </div>
    </form>
</div>