<script src="../public/myWorkoutFunctions.js"></script>
<h1>MY WORKOUTS</h1>
<button id="addWorkoutBtn">Add workout</button>
<div class="container" id="newWorkoutContainer">
</div>

<div class="list is-hoverable">
  {{#each workouts}}
    <a class="list-item" href="/myWorkouts/singleWorkout/{{this.id}}">
      <p>{{this.title}} <br> {{this.createdAt}}</p>
    </a>
  {{/each}}
</div>