<div class="container">
    <!-- START ARTICLE FEED -->
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content has-text-centered">
                            <p class="title article-title">{{article.title}}</p>
                            <div class="tags has-addons level-item">
                                <span class="tag is-rounded">Written by</span>
                                <span class="tag is-rounded">{{article.username}}</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="content article-body">
                        <p>{{article.content}}</p>
                    </div>
                    {{#if author}}
                    <form action="/deleteArticle/{{article.id}}" method="post">
                        <div class="has-text-centered">
                            <button class="button is-danger " type="submit">Delete Post</button>
                        </div>
                    </form>
                    {{/if}}
                    
                </div>
            </div>
            
        </div>
         
    </section>
   
</div>
            <!-- END ARTICLE -->